<div class="col-xs">
    <div class="row p-a-1 flex-items-xs-center">
        <nav class="nav nav-inline">
            <a routerLink="/advertisers" routerLinkActive="active" class="h4 nav-link">Advertisers</a>
            <a routerLink="/authors" class="h4 nav-link">Authors</a>
            <a routerLink="/content" class="h4 nav-link">Content</a>
            <a routerLink="/subscribers" class="h4 nav-link">Subscribers</a>
        </nav>
    </div>
    <div class="row p-a-1">
        <div class="col-xs">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
